<div class="row about-content">

	<md-card>
		<md-card-content>

			<h2 class="md-headline">Overview</h2>

			<p>
				Browse global development data with custom visualizations. This project
				is an open source alternative to the World Bank world development
				indicators website, which also offers visualization tools.
			</p>

			<p>To see the official website and access original data, refer to the
			<a target="_blank" href="http://data.worldbank.org/data-catalog/world-development-indicators">
			World Bank website</a>.</p>

			<h2 class="md-headline">Data</h2>

			<p>
				To allow easier access to the original dataset, I’ve copied it into a
				<a target="_blank" href="https://parse.com/">Parse</a> database. I’m
				happy to give others access to that, or a raw copy of its contents, but
				please don’t rely on my APIs directly – they are liable to change
				without warning. Contact information is on <a href="https://www.donmccurdy.com/">
				my website</a>.
			</p>

		</md-card-content>
	</md-card>

</div>
