<md-card class="indicator-card"
		 ng-if="countries.length"
		 ng-repeat="indicator in indicators">
	<md-card-content>
		<indicator-chart indicator="indicator"></indicator-chart>
		<md-button class="indicator-x md-icon-button"
							 ng-click="remove(indicator)"
							 aria-label="Favorite">
			<md-icon md-svg-icon="images/icons/clear.svg"></md-icon>
		</md-button>
	</md-card-content>
</md-card>

<div ng-if="!indicators.length || !countries.length" class="row placeholder md-display-1">
	<md-icon class="placeholder-icon" md-svg-icon="images/icons/equalizer.svg"></md-icon>
	<span ng-if="!countries.length">Select a country.</span>
	<span ng-if="countries.length && !indicators.length">Create a visualization.</span>
</div>
